%h1 Add New Ride Here

= form_with model: @ride do |f|
  = label_tag(:date, "Date:") 
  %br
  = f.text_field(:date) 
  %br
  =label_tag(:time, "Time:") 
  %br
  = f.text_field(:time) 
  %br
  =label_tag(:location, "Location:") 
  %br
  = f.text_field(:location) 
  %br
  =label_tag(:location, "CabId:") 
  %br
  = f.text_field(:cab_id) 
  %br
  =label_tag(:location, "DriverId:") 
  %br
  = f.text_field(:driver_id) 
  %br
  %br
  =f.submit "create"
